
*.psm
*.dbs
*.prw
*.dat
hardware/simulation/modelsim/rtl_work/_info
*.sdo
*.wpc
*.wdf
*.lpr
*.xml
*.rst
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/__synthesis_is_complete__
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/htr.txt
*.js
*.sh
*.bat
*.log
*.dcp
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/test.tcl
*.vds
*.pb
*.rpt
*.jou
*.bd
*.db
*.prj
*.wdb
*.out
*.map
*.rtd
*.rda
*.o
*.dbg
*.reloc
*.rtti
*.rlx
*.sdb
*.xdbg
*.svtype
*.type
*.mem
*.ini
*.bak
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/xsim.dir/test_behav/xsimk
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/xsim.dir/test_behav/TempBreakPointFile.txt
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/xsim.dir/test_behav/obj/xsim_1.c
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/xsim.dir/test_behav/Compile_Options.txt
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/test.tcl
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/instr.mif
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/glbl.v
xilinx_simpleComputer/xilinx_simpleComputer.sim/sim_1/behav/xsim/data.mif
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/processor.tcl
xilinx_simpleComputer/xilinx_simpleComputer.ip_user_files/README.txt
xilinx_simpleComputer/xilinx_simpleComputer.ip_user_files/mem_init_files/instr.mif
xilinx_simpleComputer/xilinx_simpleComputer.ip_user_files/mem_init_files/data.mif
*.replay
*.edf
xilinx_simpleComputer/xilinx_simpleComputer.runs/impl_1/.Xil/Vivado-4845-xubu/realtime/tmp/resynth_cleanup.tcl
xilinx_simpleComputer/xilinx_simpleComputer.runs/impl_1/htr.txt
xilinx_simpleComputer/xilinx_simpleComputer.runs/impl_1/processor.tcl
xilinx_simpleComputer/xilinx_simpleComputer.runs/impl_1/clockInfo.txt
*.vdi
*.rpx
