
*.psm
*.dbs
*.prw
*.dat
hardware/simulation/modelsim/rtl_work/_info
*.sdo
*.wpc
*.wdf
*.lpr
*.xml
*.rst
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/__synthesis_is_complete__
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/htr.txt
*.js
*.sh
*.bat
*.log
*.dcp
xilinx_simpleComputer/xilinx_simpleComputer.runs/synth_1/test.tcl
*.vds
*.pb
*.rpt
*.jou
*.bd
